.signin {
	color: #a64fae;
	font-weight: bold;
	padding-bottom: 1em;
}

.label {
	color:  rgb(143, 137, 137);
}

.new-user {
	color: rgb(143, 137, 137);
	padding-bottom: 9.8em;
}

.register {
	color: #a64fae;
	text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.signin-button {
	background-color: #a64fae;
	border:  #a64fae;
	color: white;
}