.signin {
	color: #a64fae;
	font-weight: bold;
	padding-bottom: 1em;
}

.label {
	color:  rgb(143, 137, 137);
}

.forgot-password {
	color: rgb(143, 137, 137);
	padding-top: 0.5em;
}

.new-user {
	color: rgb(143, 137, 137);
	padding: 0.2em 0 9em 0;
}

.register {
	color: #a64fae;
	text-decoration: none;
}



