@import '../../scss/config';

.signin {
  padding-bottom: 1.5em;
  padding-top: 3rem;
}

.login-button {
  background: var(--purple-gradient);
  border: none;
  margin-top: 0.6rem;
  min-width: 100%;
}
