body {
	background: url(../../media/header-img.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.container {
	align-items: center;
}

.header-image {
	margin-top: 3rem;
	height: 300px;
	width: 300px;
	float: right;
}
