// @import '../../node_modules/bootstrap/scss/bootstrap.scss'

@import '~bootstrap/scss/bootstrap';

body {
	background-color: white;
}

.btn-flat {
	background-color: #55dd55;
	color: #000;
}

/** landing page */
// .header {
// 	background: -webkit-linear-gradient(-100deg, #c274fd, #ab74fd 30%, #8b74fd)
// }

/** navbar */
.navbar {
	background: -webkit-linear-gradient(10deg, #fd748b, #fd74fd 10%, #c274fd)
}

a#company-name {
	margin-right: 2.3rem;
}

/** email verification page */
.verification-code {
	width: 2.5em;
	height: 2.3em;
	margin: 0.7em;
	border: 1px solid rgb(119, 117, 117);
	border-radius: 7%;
}

.verification {
	padding-bottom: 1em;
	&__button {
		margin-bottom: 1em;
		background-color: #463547;
	}
}

.new-code {
	font-size: 0.9em;
}

.btn-light {
	font-size: 1.1em;
	background-color: #a64fae;
	color: white;
	padding: 0.64em 1em;
	margin-bottom: 2em;
}

.email {
	font-size: 0.9em;
	color: rgb(59, 57, 57);
}

.email-verify {
	color: #322933;
	padding: 1em 0;
}

.check-out {
	color: #0a2346;
}

.new-code {
	color: rgb(59, 57, 57);
}

.bottom-section {
	position: relative;
}

.woman-behind-megaphon {
	width: 220px;
	height: 200px;
	position: absolute;
	right: 15%;
	top: 27%;
	@media (max-width: 1100px) {
		width: 150px;
		height: 120px;
		position: absolute;
		right: 5%;
		bottom: 17%;
	}
	@media (max-width: 768px) {
		width: 100px;
		height: 80px;
		position: absolute;
		right: 4%;
		bottom: 20%;
	}
	@media (max-width: 670px) {
		width: 50px;
		height: 40px;
		position: absolute;
		right: 0.5%;
		bottom: 5%;
	}
	@media (max-width: 360px) {
		width: 50px;
		height: 40px;
		position: absolute;
		right: -10%;
		bottom: 1%;
		z-index: -1;
	}
}


