@import '../../scss/config';

.toggle-button.btn.btn-primary {
  background: $white;
  border: $purple-color 1px solid;
  color: $purple-color;
}

.toggle-button.btn.btn-primary:hover {
  background: $dark-purple;
  border: 0;
  color: $white;
}
