.card-container {
  bottom: 20%;
  height: 60vh;
  overflow-y: auto;
  position: absolute;
  right: 5%;
  width: 60vw;
}

.custom-skill {
  font-size: small;
  min-width: 100px;
  width: fit-content;
}
