@import '../../scss/config';

.form-group-set {
  margin-top: 1rem;
}

.tag-wrapper {
  border: 1px solid $grey;
  border-radius: 3px;
  padding: 0.3rem;
}

button {
  border: 0;
  border-radius: 3px;
}

input.ReactTags__tagInputField {
  border: solid 1px $grey;
  border-radius: 4px;
  height: 2.4rem;
  padding: 0.67rem;
  width: 100%;
}
