.verification-code {
	width: 2.5em;
	height: 2.3em;
	margin: 0.7em;
	border: 1px solid rgb(119, 117, 117);
	border-radius: 7%;
}

.new-code {
	font-size: 0.9em;
}

.email {
	font-size: 0.9em;
	color: rgb(59, 57, 57);
}

.email-verify {
	color: #322933;
	padding: 1em 0;
}

.check-out {
	color: #0a2346;
}

.new-code {
	color: rgb(59, 57, 57);
}

.bottom-section {
	position: relative;
}

/** buttons */
.verification {
	padding-bottom: 1em;
	&__button {
		margin-bottom: 0.8em;
		// background-color: #463547;
		background-color: red;
	}
}

.btn-light.resend {
	font-size: 1.1em;
	background-color: #a64fae;
	color: white;
	padding: 0.64em 1em;
	margin-bottom: 8em;
}

