@import '../../scss/_config';

.tag-btn {
  border: 2px solid #ebeaed;
  color: $purple-color;
  font-family: 'poppins', sans-serif;
}

.tag-btn:hover {
  background-color: $purple-color;
  border-color: $white;
}
