:root {
  --purple-gradient: linear-gradient(#a24fae, #773bb7);
  --white: #fff;
}

body {
  padding: 0px;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
