:root {
  --purple-gradient: linear-gradient(#a24fae, #773bb7);
  --white: #fff;
}

$black: #000;
$purple-color: #a64fae;
$off-white: #ebeaed;
$white: #fff;

body {
  background-color: $white;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.alert {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.container {
  height: 95vh;
}

h2 {
  color: $purple-color;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.66;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
