@media screen and (max-width: 767px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .hide-sm {
    display: none !important;
  }

  .personal-form {
    width: 100% !important;
  }

  .card-container {
    margin: 1rem;
    width: unset !important;
    right: unset !important;
  }
}

@media screen and (max-width: 412px) {
  .hide-xs {
    display: none !important;
  }
}
