@media screen and (max-width: 1060px) {
   // JOb Post
   .job-post-row{
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .hide-md {
    display: none !important;
  }
  .custom-skill {
    min-width: unset;
  }
}
@media screen and (max-width: 576px) {
  .hide-sm {
    display: none !important;
  }

  .card-container {
    margin: 1rem;
    width: unset !important;
    right: unset !important;
  }
 
}

@media screen and (max-width: 412px) {
  .hide-xs {
    display: none !important;
  }
}

