@import '~bootstrap/scss/bootstrap';
// Variables
$purple-color: #a64fae;

body {
  font-family: 'poppins', sans-serif;
  background-color: grey;
  background-color: #fff;
}

.btn-flat {
  background-color: #5d5;
  color: #000;
}

.colcenter {
  padding: 1rem;
  text-align: center;
}

button.btn-form {
  background-color: $purple-color;
  color: #ffffff;
  border: 0;
  font-family: 'poppins', sans-serif;
  margin-top: 25px;
  border-radius: 5px;
  height: 40px;
}

.btn-upload {
  background-color: $purple-color;
  color: #ffffff;
  border: none;
  font-family: 'poppins', sans-serif;
  margin: 15px 145px;
  border-radius: 5px;
  height: 45px;
  width: 100px;
}

.tag-btn {
  font-family: 'poppins', sans-serif;
  border: 2px solid #ebeaed;
  color: $purple-color;
}

.tag-btn:hover {
  background-color: $purple-color;
  border-color: #ffffff;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 10px;
  color: $purple-color;
  font-family: 'poppins', sans-serif;
  font-size: 36px;
}

.text-field {
  width: auto;
  height: 3rem;
  border-radius: 10px;
  border: solid 1px #000;
}

.form-group-set {
  margin-top: 1.8rem;
}

/*   Company Match Page Styling */
.view-btn {
  background-color: $purple-color;
  border: none;
  margin-right: 6px;
  height: 30px;
  align-items: center;
}

.match-card {
  border: solid 1px;
  border-radius: 5px;
}

.nav-pills .nav-link {
  font-size: semi-bold;
  font-weight: 2rem;
  color: #000;
}

.nav-pills .nav-link.active {
  color: $purple-color;
  background-color: #ffffff;
}

.side-nav-link {
  margin: 10px;
}

Tab {
  color: #000;
}
