<<<<<<< HEAD
@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";
=======
@import '~bootstrap/scss/bootstrap';
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822

// Variables
$purple-color: #a64fae;
body {
<<<<<<< HEAD
  font-family: "poppins", sans-serif;
=======
  font-family: 'poppins', sans-serif;
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
  background-color: grey;
  background-color: #ffff;
}
.btn-flat {
  background-color: #55dd55;
  color: #000;
}
.colcenter {
  padding: 1rem;
  text-align: center;
}

<<<<<<< HEAD
.btn-form {
  background-color: $purple-color;
  color: #ffffff;
  border: none;
  font-family: "poppins", sans-serif;
  margin-top: 25px;
  border-radius: 5px;
  height: 50px;

  // width: 215px;
=======
button.btn-form {
  background-color: $purple-color;
  color: #ffffff;
  border: none;
  font-family: 'poppins', sans-serif;
  margin-top: 25px;
  border-radius: 5px;
  height: 40px;
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
}

.btn-upload {
  background-color: $purple-color;
  color: #ffffff;
  border: none;
<<<<<<< HEAD
  font-family: "poppins", sans-serif;
=======
  font-family: 'poppins', sans-serif;
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
  margin: 15px 145px;
  border-radius: 5px;
  height: 45px;
  width: 100px;
}
.tag-btn {
<<<<<<< HEAD
  font-family: "poppins", sans-serif;
=======
  font-family: 'poppins', sans-serif;
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
  // border-color: $purple-color;
  border: 2px solid #ebeaed;
  color: $purple-color;
}
.tag-btn:hover {
  background-color: $purple-color;
  border-color: #ffffff;
}
<<<<<<< HEAD
=======

>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 10px;
  color: $purple-color;
<<<<<<< HEAD
  font-family: "poppins", sans-serif;
=======
  font-family: 'poppins', sans-serif;
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
  font-size: 36px;
}

.text-field {
  width: auto;
  height: 3rem;
  border-radius: 10px;
  border: solid 1px #000;
  // font-family: "poppins", sans-serif;
  // margin-top: 15px;
}
.form-group-set {
  margin-top: 1.8rem;
}

/*   Company Match Page Styling */
.view-btn {
  background-color: #a64fae;
  border: none;
  margin-right: 6px;
  height: 30px;
  align-items: center;
}
.match-card {
  border: solid 1px;
  border-radius: 5px;
}

.nav-pills .nav-link.active {
  color: $purple-color;
  background-color: #ffffff;
}

.nav-pills .nav-link {
  font-size: semi-bold;
  font-weight: 2rem;
  color: #000;
}
.side-nav-link {
  margin: 10px;
}

<<<<<<< HEAD
/********** Search ***************/
=======
Tab {
  color: black;
}
>>>>>>> b23f313d25794b61173cb71c54239e44c54c7822
