@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";

// Variables
$purple-color: #a64fae;
body {
  font-family: "poppins", sans-serif;
  background-color: grey;
  background-color: #ffff;
}
.btn-flat {
  background-color: #55dd55;
  color: #000;
}
.colcenter {
  padding: 1rem;
  text-align: center;
}

.btn-form {
  background-color: $purple-color;
  color: #ffffff;
  border: none;
  font-family: "poppins", sans-serif;
  margin-top: 25px;
  border-radius: 5px;
  height: 50px;

  // width: 215px;
}

.btn-upload {
  background-color: $purple-color;
  color: #ffffff;
  border: none;
  font-family: "poppins", sans-serif;
  margin: 15px 145px;
  border-radius: 5px;
  height: 45px;
  width: 100px;
}
.tag-btn {
  font-family: "poppins", sans-serif;
  border-color: $purple-color;
  color: $purple-color;
}
.tag-btn:hover {
  background-color: $purple-color;
  border-color: #ffffff;
}
h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 10px;
  color: $purple-color;
  font-family: "poppins", sans-serif;
  font-size: 36px;
}

.text-field {
  width: auto;
  height: 3rem;
  border-radius: 10px;
  border: solid 1px #000;
  // font-family: "poppins", sans-serif;
  // margin-top: 15px;
}
.form-group-set {
  margin-top: 1.8rem;
}
