@import '~bootstrap/scss/bootstrap';
@import '_mobile';

body {
  padding: 0px;
  margin: 0px auto;
  color: rgb(105, 99, 99);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.heading,
.card-title,
.card-text {
  color: #ddd;
}

.container {
  height: 95vh;
}

.purple-text {
  color: var(--purple);
}

Button,
.customBtn {
  background: linear-gradient(#a24fae, #773bb7);
  color: #fff;
  min-width: 170px;
}

.landing-top-bg {
  background: url(../media/header-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.half-circle {
  width: 200px;
  height: 100px;
  background: linear-gradient(#a24fae, #773bb7);
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 0;
  color: #fff;
  text-align: center;
}

.svg-icon {
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 25vh;
}

a:hover {
  text-decoration: none;
}

// Customized and used on Job-Seeker
.company-icon {
  max-width: 60px;
}

.card-container {
  height: 60vh;
  width: 60vw;
  position: absolute;
  bottom: 20%;
  right: 5%;
  overflow-y: auto;
}

.custom-skill {
  width: fit-content;
  min-width: 100px;
}

/** signin page */
.signin {
  padding-top: 3rem;
  padding-bottom: 1.5em;
}

.login-button {
  min-width: 100%;
  margin-top: 0.6rem;
}

/** register page */
.alert {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

Button.employer-role,
Button.jobseeker-role {
  margin: 0.6rem 0;
  min-width: 49%;
  border: #773bb7 1px solid;
  background: white;
  color: black;
  @media (max-width: 991px) {
    min-width: 100% !important;
  }
  @media (max-width: 407px) {
    min-width: 100% !important;
  }
}

Button.employer-role:hover,
Button.jobseeker-role:hover {
  background: #490e87;
}

Button.employer-role {
  margin-right: 2%;
}

Button.register-button {
  min-width: 100%;
  margin: 0.3rem 0;
}

.DatePicker__input {
  font-size: 16px;
  border: solid #4c3168 1px;
  border-radius: 4px;
  width: 100%;
}

.DatePicker__input:hover {
  background-color: rgb(24, 21, 21);
}

/** datepicker */
.responsive-calendar {
  font-size: 9px !important;
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}

/** navbar */
.navbar {
  background: white;
}

.navbar-brand {
  padding-left: 1.6em;
}

button.navbar-toggler.collapsed {
  background: white;
}

a.nav-link {
  margin-left: 1.5rem;
}

/** footer */
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
