@import '~bootstrap/scss/bootstrap';
@import '_mobile';
@import '_config';

.heading,
.card-title,
.card-text {
  color: $white;
}

q {
  color: #ce1370;
}

.heading {
  // font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 0.01rem;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.77rem;
  font-weight: bold;
}

.card-title {
  font-size: 1.8rem;
}

.profile-page {
  margin: auto;
  width: 60%;
}

.container {
  height: 95vh;
}

.purple-text {
  color: var(--purple);
}

.purple-bg {
  background-color: var(--purple);
}

.purple-btn {
  background: var(--purple-gradient);
  border: 1px solid var(--purple);
  transition: all 0.5s linear;

  &:hover {
    background: var(--white);
    border: 1px solid var(--purple);
    color: var(--purple);
  }
}

// Route Navigation Animation
.app {
  position: relative;
}

.page {
  left: 0;
  position: absolute;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
