@import '~bootstrap/scss/bootstrap';
@import 'react-modern-calendar-datepicker/lib/DatePicker.css';
@import '_mobile';
@import '_utilities';


// Variable 

$purple-color :rgb(105, 99, 99);
body {
  padding: 0px;
  margin: 0px auto;
  color: rgb(105, 99, 99);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.heading,
.card-title,
.card-text {
  color: #ddd;
}
.container {
  height: 95vh;
}
.purple-text {
  color: var(--purple);
}
// Button {
//   background: linear-gradient(#a24fae, #773bb7);
//   color: #fff;
//   min-width: 170px;
// }
.landing-top-bg {
  background: url(../media/header-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.half-circle {
  width: 200px;
  height: 100px;
  background: linear-gradient(#a24fae, #773bb7);
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 0;
  color: #fff;
  text-align: center;
}

.svg-icon {
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 25vh;
}

a:hover {
  text-decoration: none;
}

// job seeker profile
.personal-form {
  width: 60%;
}

// Customized and used on Job-Seeker
.company-icon {
  max-width: 60px;
}

.card-container {
  height: 60vh;
  width: 60vw;
  position: absolute;
  bottom: 20%;
  right: 5%;
  overflow-y: auto;
}

.custom-skill {
  width: fit-content;
  min-width: 100px;
}


// match Card buttons 
.card-button{
	background: linear-gradient(#a24fae, #773bb7);
	color: #fff;
	height: 40px;
  width: 10px !important;
	// margin-top: 2%;
	margin-right: 1px;
}

// .search-bar{
	
// width: 400px;
// }
.search-bar-sec{
	float: right;
}

  .upload-image {
	padding: 1rem;
	text-align: center;
  }
 .upload-btn {
	position: absolute;
	font-size: 40px;
	opacity: 0;
	margin: -35px;
 }

 .DatePicker__input {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.4em 0.8em;
	font-family: inherit;
	text-align: center;
	font-size: 12px;
	height: 35px;
	width: 100%;
  }

//   Umair Style file
.btn-flat {
	background-color: #55dd55;
	color: #000;
  }
  .colcenter {
	padding: 1rem;
	text-align: center;
  }
  
  .btn-form {
	background-color: $purple-color;
	color: #ffffff;
	border: none;
	font-family: "poppins", sans-serif;
	margin-top: 25px;
	border-radius: 5px;
	height: 50px;

  }
  
  .btn-upload {
	background-color: $purple-color;
	color: #ffffff;
	border: none;
	font-family: "poppins", sans-serif;
	margin: 15px 145px;
	border-radius: 5px;
	height: 45px;
	width: 100px;
  }
  .tag-btn {
	font-family: "poppins", sans-serif;
	border-color: $purple-color;
	color: $purple-color;
  }
  .tag-btn:hover {
	background-color: $purple-color;
	border-color: #ffffff;
  }
  h2 {
	line-height: 1.66;
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-bottom: 10px;
	color: $purple-color;
	font-family: "poppins", sans-serif;
	font-size: 36px;
  }
  
  .text-field {
	width: auto;
	height: 3rem;
	border-radius: 5px;
	border: solid 1px #000;

  }
  .form-group-set {
	margin-top: 1.8rem;
  }
  .tab-content{
	  max-width: 95%;
  }

  .search-form {
	border: 1px solid #ddd;
	border-radius: 4px;
  }

  /*   Company Match Page Styling */
.view-btn {
  background-color: #a64fae;
  border: none;
  margin-right: 2px;
  height: 30px;
  align-items: center;
  width: 25% !important
}
.match-card {
  border: solid 1px;
  border-radius: 5px;
}

.nav-pills .nav-link.active {
  color: $purple-color;
  background-color: #ffffff;
}

.nav-pills .nav-link {
  font-size: semi-bold;
  font-weight: 2rem;
  color: #000;
}
.side-nav-link {
  margin: 10px;
}

/********** SearchBar ***************/

.search-bar{
  margin-right: 5%;
  border: solid 1px #000000;
  border-radius: 4px;

}

