@import '~bootstrap/scss/bootstrap';
@import '_mobile';
@import '_config';

.purple-text {
  color: var(--purple);
}

.purple-bg {
  background-color: var(--purple);
}

.purple-btn {
  background: var(--purple-gradient);
  border: 1px solid var(--purple);
  transition: all 0.5s linear;

  &:hover {
    background: var(--white);
    border: 1px solid var(--purple);
    color: var(--purple);
  }
}

// Route Navigation Animation
.app {
  position: relative;
}

.page {
  left: 0;
  position: absolute;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// class names that couldn't be found using search. These styles don't have any effect on the pages.
// .view-btn {
//   background-color: #a64fae;
//   border: none;
//   margin-right: 6px;
//   height: 30px;
//   align-items: center;
// }

// .match-card {
//   border: solid 1px;
//   border-radius: 5px;
// }

// .nav-pills .nav-link.active {
//   color: $purple-color;
//   background-color: #fff;
// }

// .nav-pills .nav-link {
//   font-size: semi-bold;
//   font-weight: 2rem;
//   color: #000;
// }

// .side-nav-link {
//   margin: 10px;
// }

// .btn-flat {
//   background-color: #55dd55;
//   color: #000;
// }
// .colcenter {
//   padding: 1rem;
//   text-align: center;
// }

// button.btn-form {
//   background-color: $purple-color;
//   color: #fff;
//   border: none;
//   margin-top: 25px;
//   border-radius: 5px;
//   height: 40px;
// }

// .btn-upload {
//   background-color: $purple-color;
//   color: #fff;
//   border: none;
//   font-family: 'poppins', sans-serif;
//   margin: 15px 145px;
//   border-radius: 5px;
//   height: 45px;
//   width: 100px;
// }
/////////////////////////////////////////////////////////////
